@charset "utf-8";
body{
	background: #FFFFFF;
}

nav{
	height: 50px;
	width: 100%;
	background: #0080FF;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

nav ul{
	display: flex;
	flex-flow: row wrap;
}

nav ul li{
	padding: 0px 10px;
	height: 60px;
	list-style-type: none;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
}

nav ul li a:hover{
	font-size: 15px;
	font-weight: bold;
	color: #00FF2C;
}

.content{
	margin: auto;
	margin-top: 60px;
}

footer{
	font-size: 20px;
	text-align: center;
}
