@charset "utf-8";
div ul {
	text-align: center;
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}
#img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width:480px) {
	#img {
    	width: 90%;
    	height: 200px;
	}
}
